<%= simple_form_for([@movie, @review]) do |f| %>
	<%= f.error_notification %>
	<div id="rating-form">
		<label>Rating</label>
		<%= f.error :rating %>
	</div>
	<%= f.input  :comment %>
	<%= f.button :submit, class: "btn-custom2" %>
<% end %>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]',
		number: 10
	});
</script>